$primary: #094151;
$control-grey: #DFE6E8;
$theme-colors: ( 
    "primary": $primary,
    "control-grey": $control-grey,
    "warning": #ffc107,
    "light-grey": #f6f6f6,
    "adh-orange": #ff6f47,
    "adh-brown": #c2b59b,
    "adh-red": #e51c23,
);
$border-radius: 6px;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,600;1,700&display=swap');

.app {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #005450;
}

.app a {
    color: #005450;
}

.chip {
    border-radius: 6px;
    background-color: #eaf1f1;
    color: #005450;
    display: inline-block;
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    margin: 0 0.3em 0 0;
}

.table a {
    text-decoration: none;
}